<div id="progress-wrapper" class="alert alert-dark" role="alert">
    <button id="returnBtn" type="button" class="close" style="visibility:hidden;" onClick="removeProgressBar()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <p>Status: <span id="user-count">PENDING</span></p>    
    <div class="status"></div>
    <div class="progress">
        <div class="progress-bar" role="progressbar"></div>
    </div>
</div>
    
<script type="text/javascript">
    var poll_xhr;
    var willstop = 0;
    
    function removeProgressBar() {
        var elem = document.getElementById('progress-wrapper');
        elem.parentNode.removeChild(elem);
        return false;
    }

    (function(){
        var poll = function(){
        var task_id = "{{task_id}}";
        poll_xhr = $.ajax({
            url:'poll_state/',
            type: 'POST',
            data: {
                task_id: task_id,
                csrfmiddlewaretoken: "{{csrf_token}}",
            },
            success: function(result) {
                        if (result.status == 'SUCCESS' || result.status == 'FAILURE') {
                            willstop = 1;
                            document.getElementById("user-count").textContent=result.status;
                            jQuery('.progress-bar').css({'width': 100 + '%'});
                            jQuery('.progress-bar').html(100 + '%');
                            document.getElementById('returnBtn').style.visibility = 'visible';
                            if(result.status == 'SUCCESS') {
                                jQuery('.progress-bar').addClass('bg-success');
                            } else if (result.status == 'FAILURE') {
                                jQuery('.progress-bar').addClass('bg-danger')
                            };
                            } else if (result.status !== 'PENDING') {
                            jQuery('.progress-bar').css({'width': result.process_percent + '%'});
                            jQuery('.progress-bar').html(result.process_percent + '%');
                            document.getElementById("user-count").textContent=result.status;
                            };
                        }
        });
        };
        var refreshIntervalId = setInterval(function() {
        poll();
        if(willstop == 1){
            clearInterval(refreshIntervalId);
        }
        },500);
    })();
</script>