{% extends 'core/base.html' %}

{% block title %}API Testing{% endblock %}

{% block content %}

<div class="media my-2">
    <img src="{{ user.youtubeprofile.thumbnail_uri }}" class="mr-3" alt="{{ user.youtubeprofile.channel_title }}">
    <div class="media-body">
        <h5 class="mt-0">{{ user.youtubeprofile.channel_title }} <small class="text-muted">{{ user.youtubeprofile.channel_id }}</small></h5>
        <p>{{ user.youtubeprofile.description }}</p>
        <small class="text-muted">Created on: {{user.youtubeprofile.publish_date }}</small>
    </div>
</div>

{% if task_id %}

{% include 'core/progress_bar.html' %}

{% endif %}

<h1>Tracked Items</h1>
&nbsp;
<h2>Playlists</h2>
&nbsp;
<h2>Videos</h2>
&nbsp;

{% endblock %}




