{% extends 'core/base.html' %}

{% block title %}API Testing{% endblock %}

{% block content %}

<div class="media my-2">
    <img src="{{ user.youtubeprofile.thumbnail_uri }}" class="mr-3" alt="{{ user.youtubeprofile.channel_title }}">
    <div class="media-body">
        <h5 class="mt-0">{{ user.youtubeprofile.channel_title }} <small class="text-muted">{{ user.youtubeprofile.channel_id }}</small></h5>
        <p>{{ user.youtubeprofile.description }}</p>
        <small class="text-muted">Created on: {{user.youtubeprofile.publish_date }}</small>
    </div>
</div>

{% if task_id %}

{% include 'core/helpers/progress_bar.html' %}

{% endif %}

<h1>Tracked Items</h1>
&nbsp;
<h2>Videos</h2>
<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Video ID</th>
            <th scope="col">Title</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
    {% for item in response %} 
    <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ item.video_id }}</td>
        <td>{{ item.title }}</td>
        <td><a class="btn btn-primary btn-sm" href="{% url 'core:videodetails' item.video_id %}" role="button">View Details</a>
            <form class="inline-form" action="{% url 'core:untagvideo' %}" onsubmit="return confirm('Do you really want to submit the form?');" method="post">
                {% csrf_token %}
                <input id="video_id" type="hidden" name="video_id" value="{{ item.video_id }}">
                <input id="untag_id" type="hidden" name="untag_id" value="{{ item.video_id }}">
                <input id="request_path" type="hidden" name="next" value="{{ request.path }}">
                <button type="submit" class="btn btn-danger btn-sm">Untrack</button>
            </form></td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="3">No tracked videos available.</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}




