{% extends 'core/base.html' %}

{% load crispy_forms_tags %}

{% block title %}YouTube Playlist Lookup{% endblock %}

{% block content %}
<h1>Playlist Lookup</h1>
<div class="row justify-content-center my-4">
    <form action="{% url 'core:playlistsearch' %}" method="post">
        {% crispy form %}
    </form>
</div>

{% if request.method == "POST" %}
<ul class="list-unstyled my-4"></ul>
{% for item in response.items %}
<li class="media my-4">
    <img src="{{ item.snippet.thumbnails.medium.url }}" class="align-self-start mr-3" alt="{{ item.snippet.title }}">
    <div class="media-body">
        <h5 class="mt-0 mb-1">{{ item.snippet.title }}</h5>
        <small class="text-muted"><em>{{ item.id }}</em></small>
        <p>{% if not item.snippet.description %}No description.{% endif %}{{ item.snippet.description }}</p>
        <a class="btn btn-primary" href="{% url 'core:playlistdetails' item.id %}" role="button">View Videos <span class="badge badge-light">{{ item.contentDetails.itemCount }}</span></a>
    </div>
</li>
{% empty %}
<p>No video found.</p>
{% endfor %}
</ul>
{% include 'core/helpers/api_response.html' %}
{% endif %}
{% endblock %}
