{% extends 'core/base.html' %}

{% block title %}Playlist Item Details{% endblock %}

{% block content %}

<ul class="list-unstyled my-4">
	{% for item in response.items %}
	<li class="media my-4">
		<img src="{{ item.snippet.thumbnails.medium.url }}" class="align-self-start mr-3" alt="{{ item.snippet.title }}">
		<div class="media-body">
			<h5 class="mt-0 mb-1">{{ item.snippet.title }}</h5>
			<small class="text-muted"><em>{{ item.snippet.resourceId.videoId }}</em></small>
			<p>{{ item.snippet.description|truncatechars:255 }}</p>
			<a class="btn btn-primary" href="{% url 'core:videodetails' item.snippet.resourceId.videoId %}" role="button">View Details</span></a>
		</div>
	</li>
	{% endfor %}	
</ul>

{% endblock %}




