{% extends 'core/base.html' %}

{% block title %}Playlist Item Details{% endblock %}

{% block content %}
<ul class="list-unstyled my-4">
        {% for item in response.items %}
        <li class="media my-4">
            <img src="{{ item.snippet.thumbnails.medium.url }}" class="align-self-start mr-3" alt="{{ item.snippet.title }}">
            <div class="media-body">
                <h5 class="mt-0 mb-1">{{ item.snippet.title }} <small class="text-muted"><em>{{ item.id }}</em></small></h5>
                <span class="badge badge-dark">{{ item.contentDetails.duration }}</span><small class="text-muted"> Published by {{ item.snippet.channelTitle }} on {{ item.snippet.publishedAt }}</small>
                <p class="my-2">{{ item.snippet.description }}</p>
                {% for tag in item.snippet.tags %}
                <span class="badge badge-pill badge-info">{{ tag }}</span>
                {% endfor %}
                {% if video_tags %}
                <form action="{% url 'core:untagvideo' %}" onsubmit="return confirm('Do you really want to submit the form?');" method="post">
                    {% csrf_token %}
                    <input id="video_id" type="hidden" name="video_id" value="{{ item.id }}">
                    <input id="untag_id" type="hidden" name="untag_id" value="{{ item.id }}">
                    <input id="request_path" type="hidden" name="next" value="{{ request.path }}">
                    <button type="submit" class="btn btn-danger my-2">Untrack</button>
                </form>
                {% else %}
                <form action="{% url 'core:tagvideo' %}" method="post">
                    {% csrf_token %}
                    <input id="video_id" type="hidden" name="video_id" value="{{ item.id }}">
                    <input id="title" type="hidden" name="title" value="{{ item.snippet.title }}">
                    <input id="thumbnail_uri" type="hidden" name="thumbnail_uri" value="{{ item.snippet.thumbnails.medium.url }}">
                    <input id="request_path" type="hidden" name="next" value="{{ request.path }}">
                    <input class="btn btn-primary my-2" type="submit" value="Track Video">
                </form>
                {% endif %}
                <div id="iframe-holder" class="container my-4">
                    {% autoescape off %}{{ item.player.embedHtml }}{% endautoescape %}
                </div>
                <ul class="list-group list-group-horizontal my-4 justify-content-center">
                    <li class="list-group-item">{{ item.statistics.viewCount }} Views</li>
                    <li class="list-group-item">{{ item.statistics.likeCount }} Likes</li>
                    <li class="list-group-item">{{ item.statistics.dislikeCount }} Dislikes</li>
                    <li class="list-group-item">{{ item.statistics.favoriteCount }} Favorites</li>
                    <li class="list-group-item">{{ item.statistics.commentCount }} Comments</li>
                </ul>
            </div>
        </li>
        {% endfor %}	
    </ul>

<h3>Available Streams</h3>

<h4>Progress Streams</h4>
<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Res</th>
            <th scope="col">FPS</th>
            <th scope="col">Video Codec</th>
            <th scope="col">Audio Codec</th>
            <th scope="col">MIME</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for item in progressive %}
        <tr>
            <th scope="row">{{ item.itag }}</th>
            <td>{{ item.resolution }}</td>
            <td>{{ item.fps }}</td>
            <td>{{ item.video_codec }}</td>
            <td>{{ item.audio_codec }}</td>
            <td>{{ item.mime_type }}</td>
            <td>
                <form class="inline-form" action="{% url 'core:videodownload' %}" method="post">
                    {% csrf_token %}
                    <input id="video_id" type="hidden" name="video_id" value="{{ video }}">
                    <input id="itag_id" type="hidden" name="itag_id" value="{{ item.itag }}">
                    <input id="request_path" type="hidden" name="next" value="{{ request.path }}">
                    <button type="submit" class="btn btn-primary btn-sm">Download</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h4>Adaptive Streams</h4>
<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Res</th>
            <th scope="col">FPS</th>
            <th scope="col">Video Codec</th>
            <th scope="col">MIME</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for item in dash %}
        {% if item.resolution != None %}
        <tr>
            <th scope="row">{{ item.itag }}</th>
            <td>{{ item.resolution }}</td>
            <td>{{ item.fps }}</td>
            <td>{{ item.video_codec }}</td>
            <td>{{ item.mime_type }}</td>
            <td>
                <form class="inline-form" action="{% url 'core:videodownload' %}" method="post">
                    {% csrf_token %}
                    <input id="video_id" type="hidden" name="video_id" value="{{ video }}">
                    <input id="itag_id" type="hidden" name="itag_id" value="{{ item.itag }}">
                    <input id="request_path" type="hidden" name="next" value="{{ request.path }}">
                    <button type="submit" class="btn btn-primary btn-sm">Download</button>
                </form>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>

<h4>Audio Only Streams</h4>
<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ABR</th>
            <th scope="col">FPS</th>
            <th scope="col">Audio Codec</th>
            <th scope="col">MIME</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for item in audio %}
        <tr>
            <th scope="row">{{ item.itag }}</th>
            <td>{{ item.abr }}</td>
            <td>{{ item.fps }}</td>
            <td>{{ item.audio_codec }}</td>
            <td>{{ item.mime_type }}</td>
            <td>
                <form class="inline-form" action="{% url 'core:videodownload' %}" method="post">
                    {% csrf_token %}
                    <input id="video_id" type="hidden" name="video_id" value="{{ video }}">
                    <input id="itag_id" type="hidden" name="itag_id" value="{{ item.itag }}">
                    <input id="request_path" type="hidden" name="next" value="{{ request.path }}">
                    <button type="submit" class="btn btn-primary btn-sm">Download</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}